.trxn_canvas {
    position: absolute;
    display: flex;
    pointer-events: none;
    width: 80rem;    
    height: 40rem;
}

.create-trxn{
    justify-content: center;
    width: 80%;
    height: 70%;
    background-image: linear-gradient(to right bottom, rgba(24,37,74,0.7), rgba(25,37,81,0.7),  rgba(27,38,88,0.7), rgba(30,38,95,0.7), rgba(35,37,101,0.7), rgba(52,41,115,0.7),  rgba(71,45,129,0.7), rgba(90,48,142,0.7), rgba(128,54,164,0.7), rgba(168,59,184,0.7), rgba(211,60,200,0.7), rgba(255,59,213,0.7));
    min-height: 30rem;
    min-width: 50rem;
    margin: 6rem;
    padding: 3rem;    
}

.trxn_banner {
    position: absolute;
    pointer-events: none;
    width: 100%;    
    height: 80%;
    background-color: blueviolet;
}

.sell_section {
    display: flex;
    width: 50%;
    padding: 2rem;
}

.buy_section {
    display: flex;
    width: 50%;
    padding: 2rem;
}

.trxn_desc {
    width: 14rem;
    height: 10.3rem;
    padding: 1rem;
    background-color: rgba(255,255,255,0.9);
}